.col-product
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-product .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-product .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-product:hover .info {
    background-color: #F5F5DC;
}
.col-product .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-product .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-product .info .rating
{
    color: #777;
}

.col-product .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-product .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-product .separator p
{
  line-height: 38px;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.col-product .separator p i
{
    margin-right: 5px;
}
.col-product .btn-add
{
    width: 50%;
    float: left;
}

.col-product .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-product .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}

[data-slide="prev"]
{
    margin-right: 10px;
    margin-bottom: -15px;
}

[data-slide="next"]{
    margin-bottom: -15px;
}

.carousel-products .carousel-inner{
    height: auto !important;
}

.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
}
.btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-gray{
    background-color: #5F5F5F;
    color: #FFFFFF;
}

.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
  background-color: #c2c2c2;
  color: #fff;
  border: 1px solid #000;
}

.controls{
    line-height: 0px;
    padding-bottom: 15px;
}

.list-products{
    margin-bottom: 20px;
}

.list-products img.logo_factory{
    width: auto;
    height: 130px;
}

.content-logo_factory{
    text-align: center;
    margin-bottom: 20px;
}

.btn-blue {
  padding: 8px 20px;
  background: #009BDD;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}