<div class="container">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3 center">
      <img src="images/logo/gs%20blanco.PNG" class="footer-logo">

    </div>
    <div class="col-md-4 center">
      <div class="row">
        <div class="col-md-12">
          <span>Manténte en contacto</span>
        </div>
      </div>
      <div class="social social-footer">
        <ul class="social-share social-share-home">
          <li><a class="social-facebook" href="http://goo.gl/eocCpV" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a class="social-twitter" href="https://twitter.com/gsystemsas" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a class="social-linkedin" href="http://www.linkedin.com/company/gestion-system-s-a-s" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="social-google-plus" href="http://goo.gl/rZUyi7" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          
          <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js">
          </script>
          <li>
            <a class="social-skype" href="skype:juan.esteban.rueda?chat" target="_blank">
              <i class="fa fa-skype"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 text-center text-white">
        <p>Desarrollado por <span itemprop="name"> Gestion System S.A.S. </span>Copyright &copy; 2015. Todos los derechos reservados. Línea de atención al cliente <span itemprop="telephone">(517) 444 63 97 </span>/<span itemprop="email">socialmedia@gestionsystem.com.co</span> </p> 
    </div>
  </div>
</div>