<script type="text/javascript">
    
var suscripcion = {
    Init:function(){
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });

        var form = $( "#frmSuscripcion" );
        form.validate({
            messages: {
                txtEmail: {
                    required: "El email es requerido.",
                    email:"El email no tiene el formato correcto"
                }
            }
        });

        $( "#btnSuscribir" ).click(function() {
            if (form.valid()) {
                suscripcion.Guardar();
            };
        });
    },

    Guardar:function(){
         $.ajax({
            url: urlAPI + 'createSuscripcion',
            type: 'POST',
            data: new FormData( document.getElementById("frmSuscripcion") ),
            processData: false,
            dataType:'json',
            contentType: false
        }).done(function (data) {

            alertify.alert("Felicitaciones",data.msj);

        }).fail(function (response) {

            console.log(response);

        });
    }
}
       
    //#main-slider
    $(function(){
        $('#main-slider.carousel').carousel({
            interval: 8000
        });

        suscripcion.Init();
    });

    
</script>


 <div class="row white no-margin footer-inverse">
    <div class="col-md-4 suscription margin-right">
        <img src="images/lista_precios/News_Orange.png" alt="Noticias">
        <h3 class="bold">Suscríbete a nuestro boletín</h3>
        <hr>
        <form method="post" id="frmSuscripcion">
            <h3>Correo Electrónico</h3>
            <div class="form-group">
                <input type="email" class="form-control" name="txtEmail" placeholder="Tu dirección de correo" requiered>
            </div>
            <div class="form-group">
                <button type="button" id="btnSuscribir" class="btn btn-orange btn-block">Suscribirse</button>
            </div>
        </form>

    </div>

    <div class="col-md-4 mapa-sitio margin-right">
        <h3 class="bold">Mapa del sitio</h3>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <a href="nosotros.html">
                        <button class="btn btn-orange btn-block">
                            Empresa
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="index.html/#feature"><button class="btn btn-orange btn-block">Soluciones</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <a href="index.html"><button class="btn btn-orange btn-block">Descargas</button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="casosExito.html"><button class="btn btn-orange btn-block">Casos de Exito</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <a href="http://181.143.14.98:5050/Pendientes/Account/LogOn"><button class="btn btn-orange btn-block">GS Center</button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="contact.html"><button class="btn btn-orange btn-block">Contacto</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <a href="ofertas.html"><button class="btn btn-orange btn-block">Promociones</button></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a href="index.html"><button class="btn btn-orange btn-block">Noticias</button></a>
                    </div>
                </div>
            </div>

            <h3 class="bold">Atención al cliente</h3>
            <img src="images/lista_precios/ATENCION_Orange.png" alt="Noticias">
            <p>(571) 444 63 97</p>

        </div>

        <div class="col-md-4 map-2">
            <img src="images/lista_precios/map_Orange.png" alt="Mapa" class="geo">

            <div class="row">
                <div class="col-md-12">
                    <div id="gmapAdminSuscripcion" class="gmap-2">
                        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zpmPXL3UT8QY.k3aEjgFnEj5s" width="600" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
            <p>
                Dirección: calle 25 sur # 46-95 interior 109
            </p>
            <br>
            <img src="images/lista_precios/bandera_colombia.jpg" alt="Colombia" class="country">
            <p>
                Envigado - Colombia
            </p>
        </div>
    </div>